.header-container {
  background-color: var(--primary-color);
  padding: 16px 32px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  height: 72px;

  &__title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
}
