.card-container {
  width: 250px;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px;

  &__header {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 16px 0;
    font-weight: bold;
    color: var(--primary-color);
    font-size: 24px;

    &__image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: var(--primary-color);
      margin-bottom: 16px;
      border: 2px solid var(--primary-color);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__item {
      display: flex;
      align-items: center;

      svg {
        width: 24px;
        height: auto;
        padding-right: 8px;
        fill: var(--primary-color);
      }

      .success {
        color: var(--success-color);
      }

      .warning {
        color: var(--warning-color);
      }

      .error {
        color: var(--error-color);
        font-weight: bold;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }
}
