.add-animal-container {
  display: flex;
  flex-flow: column;
  gap: 20px;
  align-items: flex-start;
  padding: 0 32px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;

  .add-animal-header {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__topbar {
      background-color: #2cbfae;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 32px;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      border-bottom: 1px solid #e0e0e0;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    }

    &__logo {
      font-weight: 700;
      font-size: 20px;
      color: white;
    }
    &__content {
      padding: 16px 0 0 0;
      margin-left: 0;
      width: 100%;

      h2 {
        color: #2cbfae;
      }
    }
    &__title {
      font-size: 24px;
      font-weight: 700;
      margin: 0;
    }
    &__subtitle {
      font-size: 16px;
      color: blue;
      margin-top: 4px;
    }
    h1 {
      color: white;
    }
  }

  &__animal-select {
    display: flex;
    margin: 16px 0 20px 0;
    column-gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;

    .animal-option-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      cursor: pointer;
    }

    .animal-option {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      background-color: white;
      border-radius: 4px;
      border-radius: 50%;
      transition: all 0.3 ease;
      width: 96px;
      height: 96px;
      box-sizing: border-box;
      overflow: hidden;

      svg {
        width: 54px;
        height: 54px;
        object-fit: contain;
        fill: var(--primary-color);
        display: block;
      }
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

      &__label {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
      }

      &__selected {
        background-color: var(--primary-color);
        color: white;
        box-shadow: var(--box-shadow);

        svg {
          fill: white;
        }
      }
    }
  }
  &__animal-form {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-top: 8px;
    .MuiInputBase-root.MuiInputBase-sizeSmall {
      height: 40px;
    }

    .field-single {
      grid-column: 1 / 2;
      width: 100%;
    }

    .full-width {
      grid-column: 1 / 3;
    }
  }

  .add-animal-footer {
    width: calc(100% - 64px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin-top: auto;
    padding: 0px 32px 16px 32px;
    margin-top: 16px;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;

    &__text {
      color: black;
      font-size: 16px;
      margin: 0;
    }
    &__btn {
      font-weight: 600;
      font-size: 16px;
      padding: 8px 16px;
      border-radius: 6px;
      text-transform: none;

      &.primary {
        background-color: #2cbfae;
        color: white;
        border: none;
      }

      &.secondary {
        background-color: #2e7d32;
        color: white;
        border: none;
      }
    }
  }
}
