:root {
  --primary-color: #2cbfae;
  --black-color: #1e1e1e;
  --background-white-color: #f5f5f5;
  --warning-color: #ff9800;
  --success-color: #4caf50;
  --error-color: #f44336;
  --box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  color: var(--black-color);
  background-color: var(--background-white-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

.MuiButton-containedPrimary {
  background-color: var(--primary-color) !important;
}

.custom-link {
  text-decoration: none;
  color: inherit;
}

.MuiDialogTitle-root + .css-kw13he-MuiDialogContent-root {
  padding-top: 20px !important;
}

.css-15fu35s-MuiDialogActions-root {
  padding: 20px !important;
}
