.view-animal-container {
  display: flex;
  flex-flow: column;
  gap: 20px;
  align-items: flex-start;

  &__title {
    font-size: 32px;
    font-weight: bold;
    color: var(--primary-color);
    padding-bottom: 40px;
  }

  &__animal-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    .full-width {
      grid-column: 1 / 3;
    }
  }

  .add-animal-actions {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 20px 0;

    &.bottom-actions {
      margin-top: 40px;
    }
  }

  .view-animal-tabs {
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
  }

  .tab-panel-container {
    width: 100%;
    margin-top: 20px;
  }

  .view-animal-accordion {
    background-color: transparent !important;
    box-shadow: none !important;
    border-bottom: 1px solid #e0e0e0;

    &:before {
      display: none;
    }

    &.Mui-expanded {
      margin: 0;
    }

    .summary-title {
      font-weight: 600;
    }

    .accordion-details-content {
      background-color: #ffffff;
      border-radius: 8px;
      margin-bottom: 16px;
      padding: 16px;
    }
  }

  .data-table {
    .label-cell {
      font-weight: bold;
      width: 250px;
      background-color: rgba(0, 0, 0, 0.02);
    }

    td {
      border-bottom: 1px solid #f0f0f0;
    }
  }

  .table-wrapper {
    margin-bottom: 24px;
  }
}
