.view-animal-container {
  display: flex;
  flex-flow: column;
  gap: 20px;
  align-items: flex-start;

  &__title {
    font-size: 32px;
    font-weight: bold;
    color: var(--primary-color);
    padding-bottom: 40px;
  }

  &__animal-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    .full-width {
      grid-column: 1 / 3;
    }
  }

  .add-animal-actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }
}
