.homepage-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;

  &__left {
    align-content: center;

    &__welcome {
      font-size: 24px;
    }

    &__title {
      font-size: 56px;
      color: var(--primary-color);
      font-weight: bold;
      padding-bottom: 8px;
    }

    &__actions {
      margin-top: 40px;
    }
  }

  &__right {
    align-content: center;

    img {
      height: 60vh;
    }
  }
}

form {
  & > :not(:last-child) {
    margin-bottom: 20px;
  }
}
